* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding:0;
}

.navBar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    height: 55px;
    position: sticky;
    top:0;
}

.navbar, .appName a, .login-logout-btn{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 23px;
}

.leftItems {
    display: flex;
}

.logo img{
    width: 55px;
    object-fit: cover;
}

.appName {
    display: flex;
    justify-content: center;
}

.appName a{
    font-weight: bold;
    display: block;
    height: 100%;
    padding: 15px 0px;
}

.login-logout-btn {
    display: block;
    height: 100%;
    padding: 15px;
}

.login-logout-btn:hover {
    background-color: #d9a2a2;
    color: black;
    cursor: pointer;
}

/* Nav bar ends here ---------------------*/

.container{
    margin: 20px;
}

select, .search-btn{
    display: inline-block;
    height: 50px;
    font-size: 18px;
}

.search-btn {
    margin-left: 12px;
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

select {
    width: 230px;
    padding: 10px 15px;
}

select[error] {
    border: 3px solid red;
}

.container {
    margin-top: 30px;
}

.business{
    margin-top: 30px;
    padding: 10px;
    border : 1px solid black;
    display: flex;
    align-items: center;
}

.businessImage{
    height: 200px;
    width: 200px;
}

.businessDetails{
    margin-left: 35px;
    font-size: 20px;
}